<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pdf Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top">
        <img height="20%" width="70%"
          src="https://res.cloudinary.com/ruposh-online/image/upload/v1661185531/rlogo6_covrxr.jpg" />

      </td>

    </tr>
    <tr align="Center" style="color: #000000">
      Thanks for shopping at RUPOSH

      <p style="color: #000000">RUPOSH Wearhouse 2-Km, Main G.T Road, Off to Wireless Colony Besides University of
        Engineering and Technology, Lahore, Pakistan. <br />
        ruposh.pk | ruposhonline@gmail.com |<a href="tel:+923037022229">+92 320-9455-811</a> <a
          href="tel:+923037022229">+92 303-7022-229</a></p>

    </tr>
  </table>
  <h1 style="text-align: center; font-size: 30px;font-weight: 600; color: green; margin-top: 10px;">INVOICE</h1>
  <h4> Order No #{{orderId}}</h4>
  <h3>
    {{orders.name}}

  </h3>
  <table width="95%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="30%" align="left" valign="top">
        <p style="color: #000000; diplay: inline-block; ">Invoice To:</p>
        <h3 style="font-weight: 800;color: #444;">
          {{Name}}
        </h3>
      </td>
      <td width="70%" align="left">
      </td>
    </tr>
    <tr>
      {{!-- <td width="30%" align="left" valign="top">
        <p style="color: #000000;">RUPOSH</p>
      </td> --}}
      <td width="70%" align="left">
      </td>
    </tr>
  </table>
  <table width="95%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      {{!-- <td width="30%" align="left" valign="top">
        <p style="color: #000000;">+923037022229</p>
        <p>ruposhonline@gmail.com</p>
      </td> --}}
      <td width="40%" align="left">
      </td>
    </tr>
    <tr width="100%">
      <td width="100%" align="right">
        <h4 style="font-weight: 700;color:#444">Payment Method:
          {{ Payment}}
        </h4>

      </td>
    </tr>
    <tr width="100%">
      <td width="100%" align="right">
        <p style="font-weight: 400;color: #000000;">Date: {{Date }}

        </p>
      </td>
    </tr>
  </table>
  <table class="table" width="100%" cellspacing="10" cellpadding="10">

    <thead>
      <tr width="100%" align="left">

        <td width="100%" align="left" style="font-size: 13px;font-weight: 700;color:#444; "> ITEMS ORDERED:</td>

      </tr>

      <tr class="imp_td" style="display: flex">
        <td width="20%" scope="col" style="color:rgb(197, 6, 6);">Photo</td>
        <td width="25%" scope="col" style="color:rgb(197, 6, 6);">Name</td>
        <td width="15%" scope="col" style="color:rgb(197, 6, 6);">Quantity</td>
        <td width="15%" scope="col" style="color:rgb(197, 6, 6);">Price</td>
        <td width="15%" scope="col" style="color:rgb(197, 6, 6);">Total</td>
      </tr>
      <style>
        tr.imp_td td {
          flex: 1 !important;
        }
      </style>
    </thead>

    <tbody>

      {{#each orderItems}}
      {{!-- {{orders.image}} --}}
      <tr style="display: flex">
        <td width="20%" scope="row" style="flex: 1; color:black; border: 1px solid #444;">
          <img height="70" width="70" src="  {{image}}" alt="image">
        </td>
        <td width="25%" scope="row" style="flex: 1; color:black; border: 1px solid #444;">
          <p> {{name}} </p>
        </td>
        <td width="15%" scope="row" style="flex: 1; color:black; border: 1px solid #444;">
          <p> {{quantity}} </p>
        </td>
        <td width="15%" scope="row" style="flex: 1; color:black; border: 1px solid #444;">
          <p> RS {{price}} </p>
        </td>
        <td width="15%" scope="row" style="flex: 1; color:black; border: 1px solid #444;">
          <p>RS {{tprice}}</p>
        </td>


      </tr>
      {{/each}}
    </tbody>

  </table>
  <table width="100%" border="0" cellspacing="5" cellpadding="5" style="display: block">
    <tr>
      <td width="100%" align="left" style="font-size: 12px;font-weight: 700;color:#444; background-color: #fff;">Sub
        Total</td>
      <td width="100%" align="center" style="background-color: #444;">
        <h2 style="font-size: 10px;font-weight: 700;color:#fff;">RS {{Itemprice}}</h2>
      </td>
    </tr>
    <tr>
      <td width="100%" align="left" style="font-size: 12px;font-weight: 700;color:#444; background-color: #fff;">
        Delivery charges</td>
      <td width="100%" align="center" style="background-color: lightgreen;">
        <h2 style="font-size: 10px;font-weight: 700;color:#fff;">RS {{ Shippingprice}}</h2>
      </td>
    </tr>
    <tr>
      <td width="100%" align="left" style="font-size: 12px;font-weight: 700;color:#444; background-color: #fff;">Total
      </td>
      <td width="100%" align="center" style="background-color: #444;">
        <h2 style="font-size: 10px;font-weight: 700;color:#fff;">RS {{ Totalprice}}</h2>
      </td>
    </tr>
  </table>
  <table class="table" width="100%">

    <thead>
      <tr width="100%" align="left">

        <td width="100%" style="font-size: 13px;font-weight: 700;color:#444; ">Shipping Info:</td>

      </tr>

      <tr style="display: flex">

        <td scope="row" width="20%" style="color:rgb(197, 6, 6)">Name</td>
        <td scope="row" width="25%" style="color:rgb(197, 6, 6)">Phone</td>
        <td scope="row" width="15%" style="color:rgb(197, 6, 6)">Email</td>
        <td scope="row" width="15%" style="color:rgb(197, 6, 6)">City</td>
        <td scope="row" width="15%" style="color:rgb(197, 6, 6)">Address</td>
      </tr>
    </thead>

    <tbody>
      {{!-- {{orders.image}} --}}
      <tr>
      <tr style="display: flex">
        <td scope="row" width="15%" style="color:black; border: 1px solid #444;">
          <p> {{shippingInfo/name}} </p>
        </td>
        <td scope="row" width="25%" style="color:black; border: 1px solid #444;">
          <p> {{shippingInfo/phoneNo}} </p>
        </td>
        <td scope="row" width="20%" style="color:black; border: 1px solid #444;">
          <p> {{shippingInfo/email}} </p>
        </td>
        <td scope="row" width="15%" style="color:black; border: 1px solid #444;">
          <p> {{shippingInfo/city}} </p>
        </td>
        <td scope="row" width="15%" style="color:black; border: 1px solid #444;">
          <p> {{shippingInfo/address}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <table width="95%" border="0" cellspacing="" cellpadding="" style="margin-top: 15px">
    <tr>
      <td width="100%" align="left"
        style="font-size: 10px;font-weight: 400;color:white; background-color: #444; padding: 20px;">
        Notice:
        Please Pay With JazzCash/Easypaisa/Bank Transfer and Share screenshot of Payment on our Whatsapp No.
        0303-7022229 | +92 320-9455-811. Thanks</td>
    </tr>
  </table>
  {{!-- <table width="95%" border="0" cellspacing="" cellpadding="" style="margin-top: 15px">

    <tr>
      <td width="100%" align="center" style="font-size: 10px;font-weight: 400;color:white; "><button
          style="color:white; background-color: #444; text-align: center;">Order Status</button></td>
    </tr>
  </table> --}}
</body>

</html>